<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}WISHLIST{% endblock %}</title>
    {% comment %} <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
</head>
<body>
    <h1>Wishlist</h1>
    <nav>
        {% comment %} {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}">Log in</a> |
        {% endif %} {% endcomment %}

        {% if user.is_authenticated %}
            <a href="{% url 'wishlist:home' %}">Wishlists</a> |
            <a href="{% url 'accounts:profile' %}">Profile📚</a> |
            {% comment %} <a href="{% url 'logout' %}" class="logout">Log out</a> {% endcomment %}
        {% endif %}
    </nav>  
    {% block content %}
    <!-- Тут буде контент підсторінок -->
    {% endblock %}
</body>
</html>