{% extends 'home.html' %}
{% block content %}

<h1>{{ item.title }}</h1>

{% if item.image %}
    <img src="{{ item.image.url }}" alt="{{ item.title }}" style="max-width:300px;">
{% endif %}

{% if item.price %}
    <p>Price: {{ item.price }} </p>
{% endif %}

{% if item.description %}
    <p>{{ item.description }}</p>
{% endif %}

{% if item.url %}
    <p><a href="{{ item.url }}" target="_blank">View on site</a></p>
{% endif %}
<p>
<a href="{% url 'wishlist:item_edit' item.pk %}">Edit item</a>
</p>
<p>
<a href="{% url 'wishlist:wishlist_detail' item.wishlist.pk %}">Back to wishlist</a>
</p>
{% endblock %}