{% extends 'home.html' %}
{% load static %}
{% block content %}

<h1>{{ wishlist.name }}</h1>

<p>
  <a href="{% url 'wishlist:friends_wishlists' %}" class="btn-back">Back to all friends wishlists</a>
</p>

{% if user.is_authenticated and user == wishlist.user %}
    <a href="{% url 'wishlist:item_create' wishlist.pk %}">Add new item</a>
{% endif %}

<!-- Wishlist owner profile block -->
<div class="friend-profile">
    <h3>About {{ wishlist.user.username }}</h3>
    
    {% if wishlist.user.userprofile.profile_pic %}
        <img src="{{ wishlist.user.userprofile.profile_pic.url }}" alt="Profile photo" class="profile-img-small">
    {% else %}
        <img src="{% static 'images/default-profile.png' %}" alt="Default profile photo" class="profile-img-small">
    {% endif %}
    
    {% if wishlist.user.date_of_birth %}
        <p><strong>Date of birth:</strong> {{ wishlist.user.date_of_birth|date:"F j, Y" }}</p>
    {% endif %}
    
    {% if wishlist.user.userprofile.likes.exists %}
        <p><strong>Likes:</strong> 
            {% for interest in wishlist.user.userprofile.likes.all %}
                {{ interest.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
        <p><strong>Disikes:</strong> 
            {% for interest in wishlist.user.userprofile.dislikes.all %}
                {{ interest.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    {% endif %}
    
    <p>
      {% if wishlist.user.userprofile %}
        <a href="{% url 'accounts:profile' wishlist.user.userprofile.pk %}">View full profile</a>
      {% endif %}
    </p>
</div>

{% if user.is_authenticated and user == wishlist.user %}
    <a href="{% url 'wishlist:item_create' wishlist.pk %}">Add new item</a>
{% endif %}

<div class="wishlist-container">
  {% for item in wishlist.items.all %}
  <div class="wishlist-item {% if item.is_reserved %}reserved{% endif %}">
          
      {% if item.is_reserved %}
        <div class="reserved-label">🔒 Reserved</div>
        </br>
      {% endif %}

      {% if user.is_authenticated and user == wishlist.user %}
        <form action="{% url 'wishlist:item_delete' item.pk %}" method="post" class="delete-form" style="position:absolute; top:5px; right:5px; margin:0;">
          {% csrf_token %}
          <button type="submit" class="delete-btn">×</button>
        </form>
      {% endif %}

      <a href="{% url 'wishlist:item_detail' item.pk %}">
        <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'images/default-gift.png' %}{% endif %}"
             alt="{{ item.title }}"
             class="wishlist-img">
      </a>

      <h3 class="wishlist-title">
        {{ item.title }}
      </h3>

      {% if item.price %}
        <p class="wishlist-price">
          {{ item.price }} UAH
        </p>
      {% endif %}
    </div>
  {% empty %}
    <p>No items yet.</p>
  {% endfor %}
</div>

{% endblock %}