{% extends 'home.html' %}
{% load static %}
{% block content %}

<h1>{{ wishlist.name }}</h1>

{% if user.is_authenticated and user == wishlist.user %}
    <a href="{% url 'wishlist:item_create' wishlist.pk %}">Add new item</a>
{% endif %}

<link rel="stylesheet" href="{% static 'css/wishlist.css' %}">

<div class="wishlist-container">
  {% for item in wishlist.items.all %}
  <div class="wishlist-item {% if item.is_reserved %}reserved{% endif %}">
          
      {% if item.is_reserved %}
        <div class="reserved-label">🔒 Reserved</div>
        </br>
      {% endif %}

      {% if user.is_authenticated and user == wishlist.user %}
        <form action="{% url 'wishlist:item_delete' item.pk %}" method="post" class="delete-form" style="position:absolute; top:5px; right:5px; margin:0;">
          {% csrf_token %}
          <button type="submit" class="delete-btn">×</button>
        </form>
      {% endif %}

      <a href="{% url 'wishlist:item_detail' item.pk %}">
        <img src="{% if item.image %}{{ item.image.url }}{% else %}{% static 'images/default-gift.png' %}{% endif %}"
             alt="{{ item.title }}"
             class="wishlist-img">
      </a>

      <h3 class="wishlist-title">
        {{ item.title }}
      </h3>

      {% if item.price %}
        <p class="wishlist-price">
          {{ item.price }} грн
        </p>
      {% endif %}
    </div>
  {% empty %}
    <p>No items yet.</p>
  {% endfor %}
</div>

{% endblock %}